<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 2018-fall-CS-Master-Application </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="hero is-info is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                        2018-fall-CS-Master-Application
                    </h1>

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>School</th>
                            <th>Program</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th>Decision DDL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in site.tags.record %}
                        <tr>
                            <td>#{{ forloop.index }}</td>
                            <td>{{ record.school }}</td>
                            <td>{{ record.program }}</td>
                            <td><span class="tag
                                    {% case record.status %}
                                        {% when 'Admitted' %}
                                        is-success
                                        {% when 'Rejected' %}
                                        is-danger
                                        {% when 'Abandoned' %}
                                        is-dark
                                        {% when 'Submitted' %}
                                        is-info
                                        {% when 'Funded' %}
                                        is-warning
                                        {% else %}
                                        is-light
                                    {% endcase %}
                                    ">
                                    {{ record.status }}</td>
                            <td>{{ record.date | date: "%Y-%m-%d"}}</td>
                            <td>{{ record.decision | date: "%Y-%m-%d"}}
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Latest Updates
                </h1>
            {% for post in site.tags.poster %}
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        {{ post.title }}
                    </p>
                    <p class="subtitle">
                        {{ post.date | date: "%Y-%m-%d"}}
                    </p>
                    <p class="content">{{ post.content }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <strong>2018-fall-CS-Master-Application</strong> for
                <a href="{{ site.author_url }}">{{site.author}}</a>. Originally created by <a href="https://github.com/htfy96">@htfy96</a>.
            </div>
        </div>
    </footer>
</body>

</html>
